<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-2/Bower-Sample/index.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Bower Sample</h3>
                <h4>Angular Material Sample setup with Bower.</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-2/CDN/index.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Libs referenced over CDN</h3>
                <h4>Simplest way to get started</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-2/ES6-Sample/index.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>SystemJS & JSPM</h3>
                <h4>For support towards ES6 features</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-2/NPM-Sample/index.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>NPM Sample</h3>
                <h4>Angular Material Sample setup with NPM</h4>
            </div>
        </md-list-item>
  
    </md-list>

</div>