<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-10/1-font-icons.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Font Icons</h3>
                <h4>Angular Material's elements making using of icon font</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-10/2-define-icons-and-iconsets.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Icon and icon-set</h3>
                <h4>Define icons and icon sets while bootstrapping.</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-10/3-icomoon.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>IcoMoon</h3>
                <h4>Angular Material icons with IcoMoon </h4>
            </div>
        </md-list-item>
               
    </md-list>

</div>