<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/1-alerts.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Alerts</h3>
                <h4>Alert Dialog's sample</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/2-alert-positions.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Alert Positions</h3>
                <h4>Draw and close alerts from certain positions on the page</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/3-toast.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Toast Messages</h3>
                <h4>Demonstrates toast messages in an Angular Material application</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/4-lists-basic.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>List Basics</h3>
                <h4>Implementation of lists in Angular Material</h4>
            </div>
        </md-list-item>        
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/5-lists-with-actions.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>List Advanced - 1</h3>
                <h4>Additional options list (action buttons)</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-8/6-more-list-options.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>List Advanced -2 </h3>
                <h4>Additional list implementations (long text)</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-8/7-grid-list-basic.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Grid list</h3>
                <h4>Grid structure to list of items in Angular Material</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-8/8-grid-list-varying-row-span.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Grid List - Advanced</h3>
                <h4>Alter row span in a grid for one more items</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-8/9-grid-list-responsive.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Responsive Grid list </h3>
                <h4>Adjust grid based on screen size.</h4>
            </div>
        </md-list-item>                 
    </md-list>

</div>