<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/1-whiteframe.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Whiteframe</h3>
                <h4>Demonstrates Whiteframes with shadow and 3d effect in Angular Material</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/2-tooltip.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Tooltip</h3>
                <h4>Demonstrates tooltip help with Angular Material directive.</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/3-subheader.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Subheader</h3>
                <h4>Using Subheader in Angular Material</h4>
            </div>
        </md-list-item> 
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/4-divider.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Divider</h3>
                <h4>Used for logical separation of components or aspects</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/5-progressbar-horizontal.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Progress bar (Horizontal)</h3>
                <h4>Demonstrates progress bar with Angular Material</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-11/6-progressbar-circular.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Progressbar (Circular)</h3>
                <h4>Demonstrates compact circular progress bar.</h4>
            </div>
        </md-list-item>                          
    </md-list>

</div>