<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-9/1-bottom-sheet-grid.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Bottomsheet-1</h3>
                <h4>Bottomsheet actions layed out as a grid</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-9/2-bottom-sheet-list.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Bottomsheet-2</h3>
                <h4>Bottomsheet actions layed out as a list</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-9/3-swipe.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Swipe</h3>
                <h4>Demonstrates swipe action</h4>
            </div>
        </md-list-item>                 
    </md-list>

</div>