<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-3/1-layout-samples.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Layout Samples</h3>
                <h4>Demonstrates layout management in Angular Materials</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-3/2-layout-alignment.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Layout Alignment</h3>
                <h4>Demonstrates layout alignment with respect to "row" or "column"</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-3/3-flex.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Flex</h3>
                <h4>Demonstrates "flex" layout system</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-3/4-responsive-flex.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Responsive Flex</h3>
                <h4>Demonstrates flex by screen width</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-3/5-responsive-show-hide.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Responsive - show/hide</h3>
                <h4>Show/hide elements by screen size</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-3/6-responsive-layout.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Responsive- Layout</h3>
                <h4>Layout Management demo based on screensize</h4>
            </div>
        </md-list-item>               
    </md-list>

</div>