<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-12/1-position.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Position</h3>
                <h4>Position a menu on a larger screen to bottomsheet on a mobile screen.</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-12/2-reflow.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Reflow</h3>
                <h4>Reflow column to row layout depending on screen size</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-12/3-reveal-toolbar.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Reveal</h3>
                <h4>Reveal more options on a bigger screen</h4>
            </div>
        </md-list-item> 
        <md-list-item class="md-2-line" ng-click="open('/Chapter-12/4-transform.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Transform</h3>
                <h4>Transform Grid List to a list on a smaller screen.</h4>
            </div>
        </md-list-item>                       
    </md-list>

</div>