<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-7/1-form-fields-basics.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Form fields - basics</h3>
                <h4>Basic implementation of form fields</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-7/2-select-options.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Select element - dropdown</h3>
                <h4>Dropdown implementation</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-7/3-typeahead.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Typeahead</h3>
                <h4>On a dropdown, filter as you type</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-7/4-chips.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Chips</h3>
                <h4>Angular Material Implementation of Chips</h4>
            </div>
        </md-list-item>        
        <md-list-item class="md-2-line" ng-click="open('/Chapter-7/5-radio-buttons.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Radio Buttons</h3>
                <h4>Angular Material implementation of radio buttons</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-7/6-slider.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Slider</h3>
                <h4>Slider control implementation for selection on a range</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-7/7-datepicker.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Date Picker </h3>
                <h4>Form field/control for date value selection</h4>
            </div>
        </md-list-item>
                  
    </md-list>

</div>