<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-6/1-default-theme.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Default Theme</h3>
                <h4>Using theme that are avilable out of box in Angular Material</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-6/2-updated-theme.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Styles on Controls</h3>
                <h4>Manage styles on controls</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-6/3-hue.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Hue</h3>
                <h4>Implementation Hue or Shades</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-6/4-default-updated.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Modify Default Theme</h3>
                <h4>Edit default theme to show different colors on each style</h4>
            </div>
        </md-list-item>        
        <md-list-item class="md-2-line" ng-click="open('/Chapter-6/5-background-palette.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Background Palette</h3>
                <h4>Using background palette</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-6/6-custom-theme.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Custom Themes</h3>
                <h4>Create your own theme</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-6/7-Custom-Hue.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Custom Hue</h3>
                <h4>Create your own hue/shades</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-6/8-custom-palette.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Custom Palette</h3>
                <h4>Create your own color palette</h4>
            </div>
        </md-list-item>                    
    </md-list>

</div>