<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/1-basic-toolbar-content-sample.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Basic Toolbar Sample</h3>
                <h4>Basic implementation of Toolbar</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/2-tall-toolbar-sample.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Tall Toolbar Sample</h3>
                <h4>CSS classes to manage height of the toolbar</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/3-page-level-actions.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Page Level Actions</h3>
                <h4>Create buttons on Toolbar.</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/4-sidenav.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Sidenav</h3>
                <h4>Sidenav implementation</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-4/5-sidenav-along-with-content.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Sidenav along with content</h3>
                <h4>Show sidenav in the workspace</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/6-sidenav-responsive.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Responsive- Responsive</h3>
                <h4>Adjust Sidenav by screen width</h4>
            </div>
        </md-list-item>  
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/7-tabs.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Tabs</h3>
                <h4>Tab control demonstration</h4>
            </div>
        </md-list-item>      
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/8-tab-events.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Tab Events</h3>
                <h4>Handle tab events while navigating between them</h4>
            </div>
        </md-list-item>   
 
        <md-list-item class="md-2-line" ng-click="open('/Chapter-4/9-cards.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Cards</h3>
                <h4>Card control implementation</h4>
            </div>
        </md-list-item>            
    </md-list>

</div>