<div>
    <md-list>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-5/1-buttons-basics.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Basic Button</h3>
                <h4>Basic implementation of Buttons</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-5/2-fab-menu-button.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>FAB Menu Button</h3>
                <h4>Implementation of FAB (Floating Action Button) Menu Control</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-5/3-speed-dial.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>FAB - Speed Dial</h3>
                <h4>Implementation of FAB (Floating Action Button) Speed Dial Control</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="open('/Chapter-5/4-menu.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Menu</h3>
                <h4>Implemenation of Menus in Web UI</h4>
            </div>
        </md-list-item>
         <md-list-item class="md-2-line" ng-click="open('/Chapter-5/5-menu-bar.html')">
            <div class="md-list-item-text" layout="column" layout-align="end end">
                <h3>Menu Bar</h3>
                <h4>Implementation of class menu bar control</h4>
            </div>
        </md-list-item>
            
    </md-list>

</div>